* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

.Navbar {
    background-color: #F55A5A;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navbar > text {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    margin: 7px;
}

section {
    padding: 45px 40px;
}

hr {
    margin: 18px 0;
    border: 1px solid #F5F5F5;
}

.Card {
    display: flex;
    align-items: center;
    color: #2B283A;
    font-size: 12px;
}

.Card > img {
    width: 125px;
    height: 170px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 20px;
}

.card-header {
    display: flex;
    align-items: center;
}

.location {
    text-transform: uppercase;
    margin-left: 4px;
    margin-right: 12px;
}

.map-link {
    color: #918E9B;
}

.title {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.description {
    margin-top: 5px;
}
